html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: black;
    flex-direction: column;
    font-weight: bold;
}

.centered {
    margin: auto;
    text-align: center;
    list-style: none;
}

.boxing_rounds {
    margin: 0;
    font-size: 4vw;
}

.state {
    margin: 0;
    font-size: 10vw;
}

.fight {
    color: #fa3c4c;
}

.rest {
    color: #d696bb;
}

.wait {
    color: #ffc300;
}

.finished {
    color: #44bec7;
}

.timer {
    font-size: 25vw;
}

.controls {
    margin: 0 auto;
    float: left;
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 20px 40px;
    background-color: #4CAF50;
    font-size: 2vw;
}
